{%extends "base_view.html" %}
{% load static %}

{%block querybuttons %}
<div class="p-3 mb-2 bg-light text-dark">
    <h3 class="mx-auto"> Weitere Abfragen:</h3>
    <button type="button" class="btn btn-primary btn-lg">
       Species aus klinischem Bereich
    </button> 
</div>
{% endblock querybuttons %}


{% block table %}
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
            </tr>
        </thead>
        <tbody >
            {% for Speciesgenus in object_list %}
            <tr>
                <td>{{ Speciesgenus.species_id }}</td>
                <td>{{ Speciesgenus.name }}</td>
            </tr>            
        {% endfor %}
            </tbody>
    </table>
{% endblock %}
